@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-lime-hover: hsl(61, 80%, 80%);
    --color-white     : hsl(0, 0%, 100%);
    --color-slate-300 : hsl(203, 41%, 72%);
    --color-slate-500 : hsl(200, 26%, 54%);
    --color-slate-900 : hsl(202, 55%, 16%);
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 100vh;

    background-color: var(--color-slate-300);

    display: flex;
    justify-content: center;
    align-items: center;
}

div.card {
    width: 370px;
    padding: 2rem;

    background-color: var(--color-white);
    border-radius: 1.5rem;

    text-align: center;
    line-height: 3rem;
}


img {
    border-radius: 1rem;
}